@font-face {
    font-family: oleo;
    src: url('../fonts/OleoScript-Regular.ttf');
}
.navbar-inverse{
	background: white;
	border-bottom: solid thin #ECECEC;
}

.homepage-banner{
	background-image: url('../images/banner.jpg');
	background-size: cover;
	height:	450px;
	background-position: 0;
	margin-top: -19px;
	padding: 10px;
}

.banner-text{
	color: white;
	text-align: center;
	width: 600px;
	margin: 0 auto;
	position: relative;
	top: 156px;
}

.banner-text p{
	font-size: 16px;
	font-weight: 200;
	margin-top: 8px;
}

.panel-body{
	padding: 0;
}

.panel-default>.panel-heading{
	/*color: white;
	background-color: #DF444A;
	border: solid thin #F57075;*/
  color: rgb(133, 133, 133);
  background-color: #E1E1E1;
  border: solid thin #DEDEDE;
}



/*#backgrounded{
	display: inline;
	background: rgba(0,0,0,.5);
	box-shadow: 10px 0 0 rgba(0,0,0,.5), -10px 0 0 rgba(0,0,0,.5);
	padding: 3px;
	margin-top: 0;*/
}

.banner-text h1{
	font-size: 35px;
}


/*
Fade content bs-carousel with hero headers
Code snippet by maridlcrmn (Follow me on Twitter @maridlcrmn) for Bootsnipp.com
Image credits: unsplash.com
*/

/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
	position: relative;
	height: 100vh;
	margin-top: -19px;
}
.fade-carousel .carousel-inner .item {
	height: 100vh;
}
.fade-carousel .carousel-indicators > li {
	margin: 0 2px;
	background-color: #f39c12;
	border-color: #f39c12;
	opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
	width: 10px;
	height: 10px;
	opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 3;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 1px 1px 0 rgba(0,0,0,.75);
	-webkit-transform: translate3d(-50%,-50%,0);
	-moz-transform: translate3d(-50%,-50%,0);
	-ms-transform: translate3d(-50%,-50%,0);
	-o-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}
.hero h1 {
	font-size: 6em;    
	font-weight: bold;
	margin: 0;
	padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
	opacity: 0;
	-webkit-transition: 2s all ease-in-out .1s;
	-moz-transition: 2s all ease-in-out .1s; 
	-ms-transition: 2s all ease-in-out .1s; 
	-o-transition: 2s all ease-in-out .1s; 
	transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
	opacity: 1;
	-webkit-transition: 2s all ease-in-out .1s;
	-moz-transition: 2s all ease-in-out .1s; 
	-ms-transition: 2s all ease-in-out .1s; 
	-o-transition: 2s all ease-in-out .1s; 
	transition: 2s all ease-in-out .1s;    
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -2;
	background-color: #080d15;
	opacity: .4;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
	color: #f5f5f5;
	background-color: #1abc9c;
	border-color: #1abc9c;
	outline: none;
	margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
	height: 100vh;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
	background-image: url('../images/banner/1.jpg'); 
}
.fade-carousel .slides .slide-2 {
	background-image: url('../images/banner/2.jpg'); 
}
.fade-carousel .slides .slide-3 {
	background-image: url('../images/banner/3.jpg'); 
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
	.hero { width: 980px; }    
}
@media screen and (max-width: 640px){
	.hero h1 { font-size: 4em; }    
}

/********************************/
/*Content slider                 */
/******************************/

.carousel-inner .active.left { left: -33%; }
.carousel-inner .next        { left:  33%; }
.carousel-inner .prev        { left: -33%; }
.carousel-control.left,.carousel-control.right {background-image:none;}
.item:not(.prev) {visibility: visible;}
.item.right:not(.prev) {visibility: hidden;}
.rightest{ visibility: visible;}

.category-caption{
	padding: 10px 0;
	display: block;
}

footer{
	padding: 20px 0;
	border-top: solid thin #D0D0D0;
}

.logo{
	font-size: 26px;
	color: #F74646;
	font-family: 'oleo';
}

.logo:hover, .navbar-inverse .navbar-brand:hover{
	text-decoration: none;
	color: #9d9d9d;
}

.navbar .nav > li > a, .navbar .nav > li > a:visited{
	text-shadow: none;
	color: #9d9d9d;
	outline: none;
}

.navbar .nav > li > a:hover{
	color: black;
	text-shadow: none;
}

.page{
	margin-top: 69px;
}

.clear-fix{
	clear: both;
}

.thumbnail{
	padding: 10px;
}

.service-stat ~ .list-group{
	position: relative;
	top: 15px;
}

.service-stat ~ .list-group a{
	float: left;
}


/***********user profile**********/
.block-update-card {
	height: 100%;
	border: 1px #FFFFFF solid;
	float: left;
	margin-top: 10px;
	padding: 10px;
	box-shadow: 1px 1px 8px #d8d8d8;
	background-color: #FFFFFF;
}
.block-update-card .h-status {
	width: 100%;
	height: 7px;
	background: repeating-linear-gradient(45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px);
}
.block-update-card .v-status {
	width: 5px;
	height: 80px;
	float: left;
	margin-right: 5px;
	background: repeating-linear-gradient(45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px);
}
.block-update-card .update-card-MDimentions {
	width: 80px;
	height: 80px;
}
.block-update-card .update-card-body {
	margin-top: 10px;
	margin-left: 5px;
}
.block-update-card .update-card-body h4 {
	color: #737373;
	font-weight: bold;
	font-size: 15px;
}

.block-update-card .update-card-body h4.owner-name {
	position: relative;
	left: 16px;
}

.block-update-card .update-card-body p {
	color: #737373;
	font-size: 13px;
}
.block-update-card .card-action-pellet {
	padding: 5px;
}
.block-update-card .card-action-pellet div {
	margin-right: 10px;
	font-size: 15px;
	cursor: pointer;
	color: #dddddd;
}
.block-update-card .card-action-pellet div:hover {
	color: #999999;
}
.block-update-card .card-bottom-status {
	color: #a9a9aa;
	font-weight: bold;
	font-size: 14px;
	border-top: #e0e0e0 1px solid;
	padding-top: 5px;
	margin: 0px;
}
.block-update-card .card-bottom-status:hover {
	background-color: #dd4b39;
	color: #FFFFFF;
	cursor: pointer;
}

/*
Creating a block for social media buttons
*/
.card-body-social {
	font-size: 30px;
	margin-top: 10px;
}
.card-body-social .git {
	color: black;
	cursor: pointer;
	margin-left: 10px;
}
.card-body-social .twitter {
	color: #19C4FF;
	cursor: pointer;
	margin-left: 10px;
}
.card-body-social .google-plus {
	color: #DD4B39;
	cursor: pointer;
	margin-left: 10px;
}
.card-body-social .facebook {
	color: #49649F;
	cursor: pointer;
	margin-left: 10px;
}
.card-body-social .linkedin {
	color: #007BB6;
	cursor: pointer;
	margin-left: 10px;
}

.music-card {
	background-color: green;
}

.social {
	position: relative;
list-style: none;
padding: 0px;
margin-top: 12px;
text-align: center;
left: -7px;
}

.social a {
	position: relative;
	display: inline-block;
	min-width: 40px;
	padding: 10px 0px;
	margin: 0px 5px;
	overflow: hidden;
	text-align: center;
	background-color: rgb(215, 215, 215);
	border-radius: 40px;
}

a.social-icon {
	text-decoration: none !important;
	box-shadow: 0px 0px 1px rgb(51, 51, 51);
	box-shadow: 0px 0px 1px rgba(51, 51, 51, 0.7);
}
a.social-icon:hover {
	color: rgb(255, 255, 255) !important;
}
a.facebook {
	color: rgb(59, 90, 154) !important;
}
a.facebook:hover {		
	background-color: rgb(59, 90, 154) !important;
}
a.twitter {
	color: rgb(45, 168, 225) !important;
}
a.twitter:hover {
	background-color: rgb(45, 168, 225) !important;
}
a.github {
	color: rgb(51, 51, 51) !important;
}
a.github:hover {
	background-color: rgb(51, 51, 51) !important;
}
a.google-plus {
	color: rgb(244, 94, 75) !important;
}
a.google-plus:hover {
	background-color: rgb(244, 94, 75) !important;
}
a.linkedin {
	color: rgb(1, 116, 179) !important;
}
a.linkedin:hover {
	background-color: rgb(1, 116, 179) !important;
}
.animate {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.service-title{
	color: #DF444A;
}

.price span{
	font-size: 15px;
	margin: 0 2px;
	vertical-align: top;
}

.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 15px;
}

.ribbon-green {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

/*.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}*/

/* Credit to bootsnipp.com for the css for the color graph */
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.square, .btn {
    border-radius: 0px!important;
}

/* -- color classes -- */
.coralbg {
    background-color: #FA396F;
} 

.coral {
    color: #FA396f;
}

.turqbg {
    background-color: #46D8D2;
}

.turq {
    color: #46D8D2;
}

.white {
    color: #fff!important;
}

/* -- The "User's Menu Container" specific elements. Custom container for the snippet -- */
div.user-menu-container {
  z-index: 10;
  background-color: #fff;
  margin-top: 20px;
  background-clip: padding-box;  
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

div.user-menu-container .btn-lg {
    padding: 0px 12px;
}

.user-menu.user-pad{
  background: white;
}

div.user-menu-container h4 {
    font-weight: 300;
    color: #8b8b8b;
}

div.user-menu-container a, div.user-menu-container .btn  {
    transition: 1s ease;
}

div.user-menu-container .thumbnail {
   width:100%;
   min-height:200px;
   border: 0px!important;
   padding: 0px;
   border-radius: 0;
   border: 0px!important;
}

/* -- Vertical Button Group -- */
div.user-menu-container .btn-group-vertical {
    display: block;
}

div.user-menu-container .btn-group-vertical>a {
    padding: 20px 25px;
    background-color: #46D8D2;
    color: white;
    border-color: #fff;
}

div.btn-group-vertical>a:hover {
    color: white;
    border-color: white;
}

div.btn-group-vertical>a.active {
    background: #FA396F;
    box-shadow: none;
    color: white;
}
/* -- Individual button styles of vertical btn group -- */
div.user-menu-btns {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

div.user-menu-btns div.btn-group-vertical>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #46D8D2;
}
/* -- The main tab & content styling of the vertical buttons info-- */
div.user-menu-content {
    color: #323232;
}

ul.user-menu-list {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 10px;
    border: 1px solid #eee;
}
ul.user-menu-list>li {
    padding-bottom: 8px;
    text-align: center;
}

div.user-menu div.user-menu-content:not(.active){
  display: none;
}

/* -- The btn stylings for the btn icons -- */
.btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 12px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
.btn-labeled {padding-top: 0;padding-bottom: 0;}

/* -- Custom classes for the snippet, won't effect any existing bootstrap classes of your site, but can be reused. -- */

.user-pad {
    padding: 20px 25px;
}

.no-pad {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

.user-details {
    background: #eee;
    min-height: 333px;
}

.user-image {
  max-height:200px;
  overflow:hidden;
}

.overview h3 {
    font-weight: 300;
    margin-top: 15px;
    margin: 10px 0 0 0;
}

.overview h4 {
    font-weight: bold!important;
    font-size: 40px;
    margin-top: 0;
}

.view {
    position:relative;
    overflow:hidden;
    margin-top: 10px;
}

.view p {
    margin-top: 20px;
    margin-bottom: 0;
}
 
/*.caption {
    position:absolute;
    top:0;
    right:0;
    background: rgba(70, 216, 210, 0.44);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}*/

/*.caption a {
    padding-right: 10px;
    color: #fff;
}*/

.info {
    display: block;
    padding: 10px;
    background: #eee;
    text-transform: uppercase;
    font-weight: 300;
    text-align: right;
}

.info p, .stats p {
    margin-bottom: 0;
}

.stats {
    display: block;
    padding: 10px;
    color: white;
}

.share-links {
    border: 1px solid #eee;
    padding: 15px;
    margin-top: 15px;
}

.square, .btn {
    border-radius: 0px!important;
}

/* -- media query for user profile image -- */
@media (max-width: 767px) {
    .user-image {
        max-height: 400px;
    }
}

.widget .panel-body { padding:0px; }
.widget .list-group { margin-bottom: 0; }
.widget .panel-title { display:inline }
.widget .label-info { float: right; }
.widget li.list-group-item {border-radius: 0;border: 0;border-top: 1px solid #ddd;}
.widget li.list-group-item:hover { background-color: rgba(86,61,124,.1); }
.widget .mic-info { color: #666666;font-size: 11px; }
.widget .action { margin-top:5px; }
.widget .comment-text { font-size: 12px; }
.widget .btn-block { border-top-left-radius:0px;border-top-right-radius:0px; }

.cover-image img{
  -webkit-filter: blur(5px);
-moz-filter: filter(value);
-o-filter: filter(value);
-ms-filter: filter(value);
filter: blur(5px);
}

.container.profile{
  margin-top: -107px;
}

.cover-image{
  height: 300px;
  overflow: hidden;
}